[submodule "client"]
	path = client
	url = git@github.com:edu-ide/DocSpace-client.git
	branch = ugotoffice-main
	update = merge
[submodule "build"]
	path = buildtools
	url = git@github.com:edu-ide/DocSpace-buildtools.git
	branch = ugotoffice-main
	update = merge
[submodule "server"]
	path = server
	url = git@github.com:edu-ide/DocSpace-server.git
	branch = ugot-custom
	update = merge
