source https://api.nuget.org/v3/index.json

framework: net9.0

nuget ARSoft.Tools.NetStandard.DXSdata 1.0.0
nuget AWS.Logger.NLog 3.3.4
nuget AWSSDK.CloudFront 3.7.404.55
nuget AWSSDK.Core 3.7.402.26
nuget AWSSDK.DynamoDBv2 3.7.406.8
nuget AWSSDK.CloudWatchLogs 3.7.305.15
nuget AWSSDK.S3 3.7.415.25
nuget AWSSDK.SimpleEmail 3.7.402.63
nuget Amazon.Extensions.S3.Encryption 2.2.1
nuget Apache.NMS.AMQP 2.2.0
nuget AspNetCore.HealthChecks.Kafka 9.0.0
nuget AspNetCore.HealthChecks.MySql 9.0.0
nuget AspNetCore.HealthChecks.NpgSql 9.0.0
nuget AspNetCore.HealthChecks.Rabbitmq 9.0.0
nuget AspNetCore.HealthChecks.Redis 9.0.0
nuget AspNetCore.HealthChecks.UI.Client 9.0.0
nuget AutoMapper 14.0.0
nuget Autofac.Configuration 7.0.0
nuget Autofac.Extensions.DependencyInjection 10.0.0
nuget Bogus 35.6.2
nuget Box.V2.Core 5.8.0
nuget Confluent.Kafka 2.8.0
nuget CsvHelper 33.0.1
nuget DistributedLock.Redis 1.0.3
nuget DistributedLock.ZooKeeper 1.0.0
nuget DocuSign.eSign.dll 8.0.2
nuget DotNetOpenAuth.Ultimate 4.3.4.13329
nuget Dropbox.Api 7.0.0
nuget EtaEmre.NetEscapades.EnumGenerators 1.0.0-beta07
nuget FirebaseAdmin 3.1.0
nuget FolkerKinzel.VCards 8.1.0
nuget Google.Api.Gax 4.10.0
nuget Google.Api.Gax.Rest 4.10.0
nuget Google.Apis.Auth 1.69.0
nuget Google.Apis.Core 1.69.0
nuget Google.Apis.Drive.v3 1.69.0.3703
nuget Google.Apis.Storage.v1 1.69.0.3723
nuget Google.Cloud.Storage.V1 4.11.0
nuget GoogleAuthenticator 3.2.0
nuget Grpc 2.46.6
nuget HtmlAgilityPack 1.12.0
nuget Ical.Net 4.3.1
nuget JWT 11.0.0
nuget Joonasw.AspNetCore.SecurityHeaders 5.0.0
nuget Magick.NET-Q8-AnyCPU 14.5.0
nuget MailKit 4.11.0
nuget Microsoft.Graph.Core 1.19.0
nuget Microsoft.Graph 1.21.0
nuget Microsoft.AspNetCore.Authentication.JwtBearer 9.0.3
nuget Microsoft.AspNetCore.Mvc.Core 9.0.3
nuget Microsoft.AspNetCore.Cryptography.KeyDerivation 9.0.3
nuget Microsoft.Extensions.Caching.Abstractions 9.0.3
nuget Microsoft.Extensions.Caching.StackExchangeRedis 9.0.2
nuget Microsoft.Extensions.Configuration.Json 9.0.3
nuget Microsoft.Extensions.Hosting.Abstractions 9.0.3
nuget Microsoft.Extensions.Hosting.Systemd 9.0.3
nuget Microsoft.Extensions.Hosting.WindowsServices 9.0.3
nuget Microsoft.Extensions.Http 9.0.3
nuget Microsoft.Extensions.DependencyInjection.Abstractions 9.0.3
nuget Microsoft.AspNetCore.Http.Abstractions 2.2.0
nuget Microsoft.AspNetCore.Http.Features 2.2.0
nuget Microsoft.AspNetCore.App.Ref 9.0.5
nuget Microsoft.AspNetCore.OpenApi 9.0.5
nuget Microsoft.Extensions.Http.Polly 9.0.3
nuget Microsoft.Extensions.Logging.Abstractions 9.0.3
nuget Microsoft.Extensions.Primitives 9.0.10
nuget Microsoft.OpenApi 1.6.23
nuget Microsoft.IdentityModel.Protocols.OpenIdConnect 8.7.0
nuget Microsoft.OneDriveSDK 2.0.7
nuget Microsoft.SharePoint.Client 14.0.4762.1000
nuget Microsoft.Windows.Compatibility 9.0.3
nuget MySql.Data 9.2.0
nuget NLog 5.4.0
nuget NLog.DiagnosticSource 5.2.1
nuget NLog.Targets.ElasticSearch 7.7.0
nuget NLog.Targets.Syslog 7.0.0
nuget NLog.Web.AspNetCore 5.4.0
nuget NVelocity 1.2.0
nuget Novell.Directory.Ldap.NETStandard 3.6.0
nuget Npgsql.EntityFrameworkCore.PostgreSQL 8.0.8
nuget OpenSearch.Client 1.8.0
nuget OpenSearch.Net 1.8.0
nuget OpenTelemetry 1.11.2
nuget OpenTelemetry.Api 1.11.2
nuget OpenTelemetry.Exporter.InfluxDB 1.0.0-alpha.4
nuget OpenTelemetry.Exporter.OpenTelemetryProtocol 1.11.2
nuget OpenTelemetry.Extensions.Hosting 1.11.2
nuget OpenTelemetry.Instrumentation.AspNetCore 1.11.1
nuget OpenTelemetry.Instrumentation.Http 1.11.1
nuget OpenTelemetry.Instrumentation.Process 1.10.0-beta.1
nuget OpenTelemetry.Instrumentation.Runtime 1.11.1
nuget Polly 8.5.2
nuget Pomelo.EntityFrameworkCore.MySql 8.0.3
nuget Pomelo.EntityFrameworkCore.MySql.Json.Microsoft 8.0.3
nuget RabbitMQ.Client 7.1.2
nuget RedisRateLimiting 1.2.0
nuget RedisRateLimiting.AspNetCore 1.2.0
nuget SharpZipLib 1.4.2
nuget SkiaSharp 3.116.1
nuget SkiaSharp.NativeAssets.Linux 3.116.1
nuget SkiaSharp.NativeAssets.Linux.NoDependencies 3.116.1
nuget SkiaSharp.Svg 1.60.0
nuget StackExchange.Redis 2.8.31
nuget StackExchange.Redis.Extensions.AspNetCore 11.0.0
nuget StackExchange.Redis.Extensions.Core 11.0.0
nuget StackExchange.Redis.Extensions.Newtonsoft 11.0.0
nuget Swashbuckle.AspNetCore 8.0.0
nuget Swashbuckle.AspNetCore.Annotations 8.0.0
nuget Swashbuckle.AspNetCore.SwaggerGen 8.0.0
nuget System.IdentityModel.Tokens.Jwt 8.7.0
nuget System.Linq.Async 6.0.1
nuget System.ValueTuple 4.5.0
nuget System.Text.Encodings.Web 9.0.0
nuget System.ServiceModel.Primitives 8.1.2
nuget Telegram.Bot 22.4.4
nuget TweetinviAPI 5.0.4
nuget Twilio 7.9.1
nuget UAParser 3.1.47
nuget WebDav.Client 2.8.0
nuget ZiggyCreatures.FusionCache 2.2.0
nuget ZiggyCreatures.FusionCache.Backplane.StackExchangeRedis 2.2.0
nuget ZiggyCreatures.FusionCache.OpenTelemetry 2.2.0
nuget ZiggyCreatures.FusionCache.Serialization.SystemTextJson 2.2.0
nuget protobuf-net 3.2.46
